<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="calendar-container">
    <div class="calendar-header">
        <h1>
            <span><i class="arrow left" onclick="move_left({{ working_month }},{{ year }})"></i></span>
            <span> {{ month_name }} </span><span><i class="arrow right"
                                                    onclick="move_right({{ working_month }},{{ year }})"></i></span>
        </h1>
        <h3>
            Кузнецова Дарья C21-712
        </h3>
        <p>{{ '20' + year }}</p>
    </div>
    <div class="calendar"><span class="day-name">Mon</span><span class="day-name">Tue</span><span
            class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span
            class="day-name">Sat</span><span class="day-name">Sun</span>
        {% for align_day in range(0,align_before) %}
            <div class="day day--disabled">{{ day_in_prev[align_day] }}</div>
        {% endfor %}
        {% for day_num in range(1,day_amount + 1) %}
            <div class={{ day_name[day_num] }}>{{ day_num }}
                <button id="{{ 'myBtn' + day_num|string }}" class="butn"
                        onclick="modal('{{ 'myModal' + day_num|string }}')"></button>
                <div id="{{ 'myModal'+ day_num|string }}" class="modal">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="close" onclick="close_it('{{ 'myModal'+day_num|string }}')">&times;</span>
                            <h2><span class="naming">{{ day_header[day_num] }}</span>
                                <a class="btn btn-success"
                                   onclick="func_task({{ day_num }},{{ year }},{{ working_month }})">Добавить</a>
                            </h2>
                        </div>
                        <div class="modal-body">
                            {% for day in classes %}
                                {% if day.day_id == day_num %}
                                    <p></p><span class="label {{ day.type }}">{{ day.type }}</span>
                                    <span class="showday"
                                          onclick="get_task({{ day_num }},{{ year }},{{ working_month }})">{{ day.subject }}</span>
                                    <span class="homework {{ "Home" + day.is_homework_exists }}">Найдено: {{day.is_homework_exists }} ДЗ</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
        {% for align_day in range(1,aligin_after + 1) %}
            <div class="day day--disabled">{{ align_day }}</div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>