<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
</head>
<body>
<div class="calendar-container">
    <div class="calendar-header">
        <h1>
            Декабрь
        </h1>
        <h3>
            Кузнецова Дарья C21-712
        </h3>
        <p>2021</p>
    </div>
    <div class="calendar"><span class="day-name">Mon</span><span class="day-name">Tue</span><span
            class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span
            class="day-name">Sat</span><span class="day-name">Sun</span>
        <div class="day day--disabled">30</div>
        <div class="day day--disabled">31</div>
        <div class={{ day_name[1] }}>{{ day_mas[1] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal1')"></button>

            <!-- The Modal -->
            <div id="myModal1" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal1')">&times;</span>
                        <h2>{{ day_header[1] }}
                        <a class="btn btn-success" onclick="func_task(1)">Добавить</a>
                        </h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[2] }}>{{ day_mas[2] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal2')"></button>

            <!-- The Modal -->
            <div id="myModal2" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal2')">&times;</span>
                        <h2>{{ day_header[2] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[3] }}>{{ day_mas[3] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal3')"></button>

            <!-- The Modal -->
            <div id="myModal3" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal3')">&times;</span>
                        <h2>{{ day_header[3] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[4] }}>{{ day_mas[4] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal4')"></button>

            <!-- The Modal -->
            <div id="myModal4" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal4')">&times;</span>
                        <h2>{{ day_header[4] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[5] }}>{{ day_mas[5] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal5')"></button>

            <!-- The Modal -->
            <div id="myModal5" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal5')">&times;</span>
                        <h2>{{ day_header[5] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[6] }}>{{ day_mas[6] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal6')"></button>

            <!-- The Modal -->
            <div id="myModal6" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal6')">&times;</span>
                        <h2>{{ day_header[6] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[7] }}>{{ day_mas[7] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal7')"></button>

            <!-- The Modal -->
            <div id="myModal7" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal7')">&times;</span>
                        <h2>{{ day_header[7] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[8] }}>{{ day_mas[8] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal8')"></button>

            <!-- The Modal -->
            <div id="myModal8" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal8')">&times;</span>
                        <h2>{{ day_header[8] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[9] }}>{{ day_mas[9] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal9')"></button>

            <!-- The Modal -->
            <div id="myModal9" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal9')">&times;</span>
                        <h2>{{ day_header[9] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[10] }}>{{ day_mas[10] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal10')"></button>

            <!-- The Modal -->
            <div id="myModal10" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal10')">&times;</span>
                        <h2>{{ day_header[10] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[11] }}>{{ day_mas[11] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal11')"></button>

            <!-- The Modal -->
            <div id="myModal11" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModa11')">&times;</span>
                        <h2>{{ day_header[11] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[12] }}>{{ day_mas[12] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal12')"></button>

            <!-- The Modal -->
            <div id="myModal12" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal12')">&times;</span>
                        <h2>{{ day_header[12] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[13] }}>{{ day_mas[13] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal13')"></button>

            <!-- The Modal -->
            <div id="myModal13" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal13')">&times;</span>
                        <h2>{{ day_header[13] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[14] }}>{{ day_mas[14] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal14')"></button>

            <!-- The Modal -->
            <div id="myModal14" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal14')">&times;</span>
                        <h2>{{ day_header[14] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[15] }}>{{ day_mas[15] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal15')"></button>

            <!-- The Modal -->
            <div id="myModal15" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal15')">&times;</span>
                        <h2>{{ day_header[15] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[16] }}>{{ day_mas[16] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal16')"></button>

            <!-- The Modal -->
            <div id="myModal16" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal16')">&times;</span>
                        <h2>{{ day_header[16] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[17] }}>{{ day_mas[17] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal17')"></button>

            <!-- The Modal -->
            <div id="myModal17" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal17')">&times;</span>
                        <h2>{{ day_header[17] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[18] }}>{{ day_mas[18] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal18')"></button>

            <!-- The Modal -->
            <div id="myModal18" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal18')">&times;</span>
                        <h2>{{ day_header[18] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[19] }}>{{ day_mas[19] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal19')"></button>

            <!-- The Modal -->
            <div id="myModal19" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal19')">&times;</span>
                        <h2>{{ day_header[19] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[20] }}>{{ day_mas[20] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal20')"></button>

            <!-- The Modal -->
            <div id="myModal20" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal20')">&times;</span>
                        <h2>{{ day_header[20] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[21] }}>{{ day_mas[21] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal21')"></button>

            <!-- The Modal -->
            <div id="myModal21" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal21')">&times;</span>
                        <h2>{{ day_header[21] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[22] }}>{{ day_mas[22] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal22')"></button>

            <!-- The Modal -->
            <div id="myModal22" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal22')">&times;</span>
                        <h2>{{ day_header[22] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[23] }}>{{ day_mas[23] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal23')"></button>

            <!-- The Modal -->
            <div id="myModal23" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal23')">&times;</span>
                        <h2>{{ day_header[23] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[24] }}>{{ day_mas[24] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal24')"></button>

            <!-- The Modal -->
            <div id="myModal24" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal24')">&times;</span>
                        <h2>{{ day_header[24] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[25] }}>{{ day_mas[25] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal25')"></button>

            <!-- The Modal -->
            <div id="myModal25" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal25')">&times;</span>
                        <h2>{{ day_header[25] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[26] }}>{{ day_mas[26] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal26')"></button>

            <!-- The Modal -->
            <div id="myModal26" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal26')">&times;</span>
                        <h2>{{ day_header[26] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[27] }}>{{ day_mas[27] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal27')"></button>

            <!-- The Modal -->
            <div id="myModal27" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal27')">&times;</span>
                        <h2>{{ day_header[27] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[28] }}>{{ day_mas[28] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal28')"></button>

            <!-- The Modal -->
            <div id="myModal28" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal28')">&times;</span>
                        <h2>{{ day_header[28] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[29] }}>{{ day_mas[29] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal29')"></button>

            <!-- The Modal -->
            <div id="myModal29" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal29')">&times;</span>
                        <h2>{{ day_header[29] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[30] }}>{{ day_mas[30] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal30')"></button>

            <!-- The Modal -->
            <div id="myModal30" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal30')">&times;</span>
                        <h2>{{ day_header[30] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class={{ day_name[31] }}>{{ day_mas[31] }}
            <button id="myBtn1" class="butn" onclick="modal('myModal31')"></button>

            <!-- The Modal -->
            <div id="myModal31" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close" onclick="close_it('myModal31')">&times;</span>
                        <h2>{{ day_header[31] }}</h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="day day--disabled">1</div>
        <div class="day day--disabled">2</div>
        {#    <section class="task task--warning">Projects</section>#}
        {#    <section class="task task--danger">Design Sprint</section>#}
        {#    <section class="task task--primary">Product Checkup 1#}
        {#      <div class="task__detail">#}
        {#        <h2>Product Checkup 1</h2>#}
        {#        <p>15-17th November</p>#}
        {#      </div>#}
        {#    </section>#}
        {#    <section class="task task--info">Product Checkup 2</section>#}
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>